<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["FamilyCoordinationApp.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="@_theme" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

@code {
    private bool _isDarkMode = true;

    private MudTheme _theme = new()
    {
        PaletteDark = new PaletteDark()
        {
            Black = "#27272f",
            Background = "#1e1e2d",
            BackgroundGray = "#27272f",
            Surface = "#2d2d3d",
            DrawerBackground = "#1e1e2d",
            DrawerText = "rgba(255,255,255, 0.80)",
            DrawerIcon = "rgba(255,255,255, 0.80)",
            AppbarBackground = "#1e1e2d",
            AppbarText = "rgba(255,255,255, 0.80)",
            TextPrimary = "rgba(255,255,255, 0.80)",
            TextSecondary = "rgba(255,255,255, 0.60)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            Primary = "#7c4dff",
            PrimaryContrastText = "#ffffff",
            Secondary = "#9c27b0",
            Info = "#2196f3",
            Success = "#00c853",
            Warning = "#ff9800",
            Error = "#f44336"
        }
    };
}

</html>
