@using MudBlazor

<MudNavMenu Bordered="true" Color="Color.Primary" Class="pa-2">
    <div class="app-brand mb-4 pa-3">
        <MudIcon Icon="@Icons.Material.Filled.RestaurantMenu" Size="Size.Large" Color="Color.Primary" />
        <MudText Typo="Typo.h6" Class="ml-2">Family Kitchen</MudText>
    </div>
    
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
        Home
    </MudNavLink>
    
    <MudNavLink Href="/recipes" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.MenuBook">
        Recipes
    </MudNavLink>
    
    <MudNavLink Href="/meal-plan" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth">
        Meal Plan
    </MudNavLink>
    
    <MudNavLink Href="/shopping-list" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ShoppingCart">
        Shopping List
    </MudNavLink>
    
    <MudDivider Class="my-4" />
    
    <MudNavLink Href="/settings/categories" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings">
        Settings
    </MudNavLink>
    
    <MudNavLink Href="/settings/users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">
        Family Members
    </MudNavLink>
</MudNavMenu>

<style>
    .app-brand {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--mud-palette-divider);
    }
</style>
